body {
  margin: 0;
  padding: 0;
  /* background-image: url("./assets/body.webp");
  background-size: cover; */
}
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
