.container {
  transition: 200ms;
  border-radius: 10px;
  position: relative;
}

.img {
  width: 350px;
  height: 450px;
  transition: 200ms;
  border-radius: 10px;
}
.innerContainer {
  position: absolute;
  bottom: 0;
}
.container:hover {
  transform: scale(1.04);
}
.title {
  background-color: rgba(128, 128, 128, 0.404);
  width: 350px;
  padding: 5px;
  border-radius: 10px;
  font-size: 26px;
  color: white;
}
