.footer {
  /* width: 100%; */
  /* height: 100%; */
  /* display: flex; */
  /* position: absolute;
  bottom: 0;
  left: 0; */
  /* align-items: flex-end; */
}
.all {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.logo {
  width: 150px;
  height: 20px;
}
.tal {
  display: flex;
  gap: 50px;
}
/* 
.all1 {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  height: 80%;
  background-color: #000; 
} */
.btn {
  border-radius: 15px;
  width: 290px;
  background-image: url(../assets/back.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
.button {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
}
.btn:hover {
  margin-left: 10px;
  transition: 500ms;
}
.btn:hover .button {
  background-color: rgb(43, 120, 255);
  box-shadow: 0px 1px 0px 8px rgba(108, 162, 255, 0.7);
  -webkit-box-shadow: 0px 1px 0px 8px rgba(108, 162, 255, 0.7);
  -moz-box-shadow: 0px 1px 0px 8px rgba(108, 162, 255, 0.7);
}
.p {
  color: white;
  display: flex;
  gap: 10px;
}
.p1:hover {
  color: gray;
}
.top {
  display: flex;
  gap: 100px;
}
.p3 {
  color: gray;
  width: 50%;
  font-size: 10px;
}
.p2 {
  color: gray;
  transition: 300ms;
  font-size: 12px;
}
.p2:hover {
  color: white;
  padding-left: 10px;
  transition: 300ms;
}
.zuun {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.bulan {
  display: flex;
  gap: 50px;
}
.gol {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 75px;
}
.p4 {
  color: gray;
  font-size: 12px;
  line-height: 20px;
}
.link {
  color: white;
  transition: 300ms;
  font-size: 12px;
  text-decoration: none;
  padding-top: 15px;
}
.link:hover {
  padding-left: 10px;
  transition: 300ms;
}
.baruun {
  display: flex;
  flex-direction: column;
}
.bottom {
  display: flex;
  gap: 200px;
}
.facebook {
  color: gray;
  width: 50px;
  height: 50px;
}
.facebook:hover {
  color: #3f729b;
}
#twitter {
  color: gray;
  width: 50px;
  height: 50px;
}
#twitter:hover {
  color: #1da2f2;
}
#ig {
  color: gray;
  width: 50px;
  height: 50px;
}
#ig:hover {
  color: rgb(214, 6, 214);
}
#in {
  color: gray;
  width: 50px;
  height: 50px;
}
#in:hover {
  color: #0077b5;
}
#yt {
  color: gray;
  width: 50px;
  height: 50px;
}
#yt:hover {
  color: red;
}
#sc {
  color: gray;
  width: 50px;
  height: 50px;
}
#sc:hover {
  color: #f50;
}
.pic1 {
  width: 130px;
}
.pic2 {
  width: 130px;
  margin-left: 20px;
}
.text1 {
  margin: 25px;
}
.text2 {
  color: white;
  font-size: 15px;
  margin: 5px;
  margin-left: 0px;
}
.img {
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .top {
    gap: 80px;
  }
  .btn {
    width: 250px;
  }
  .pic1 {
    padding-left: 20px;
  }
  .facebook {
    width: 30px;
    height: 30px;
  }
  #twitter {
    width: 30px;
    height: 30px;
  }
  #ig {
    width: 30px;
    height: 30px;
  }
  #in {
    width: 30px;
    height: 30px;
  }
  #yt {
    width: 30px;
    height: 30px;
  }
  #sc {
    width: 30px;
    height: 30px;
  }
  .bottom {
    gap: 100px;
  }
  .p2 {
    font-size: 10px;
  }
  .bulan {
    gap: 10px;
  }
  .text1 {
    margin: 20px;
  }
  .text2 {
    font-size: 13px;
  }
  .p1 {
    font-size: 13px;
  }
  .p3 {
    width: 80%;
  }
  .img {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .left {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 414px) {
  .top {
    flex-direction: column;
  }
  .all {
    justify-content: unset;
    align-items: unset;
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
  }
  .img {
    flex-direction: row;
  }
  .bulan {
    flex-direction: column;
    gap: 30px;
  }
  .bottom {
    gap: 30px;
    padding-bottom: 70px;
  }
  .p1 {
    font-size: 10px;
  }
  .pic1 {
    padding-left: 0px;
  }
  .facebook {
    width: 20px;
    height: 20px;
  }
  #twitter {
    width: 20px;
    height: 20px;
  }
  #ig {
    width: 20px;
    height: 20px;
  }
  #in {
    width: 20px;
    height: 20px;
  }
  #yt {
    width: 20px;
    height: 20px;
  }
  #sc {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 310px) {
  .pic1 {
    width: 100px;
  }
  .pic2 {
    width: 100px;
  }
  .btn {
    width: 240px;
  }
  .left {
    padding-left: 10px;
  }
  .p {
    gap: 0px;
  }
  .all {
    padding-left: 10px;
  }
}
