.all {
  width: 100%;
  height: 800px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.btn {
  border-radius: 15px;
  width: 290px;
  background-image: url(../assets/back.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
.button {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
}
.btn:hover {
  margin-left: 10px;
  transition: 500ms;
}
.btn:hover .button {
  background-color: rgb(43, 120, 255);
  box-shadow: 0px 1px 0px 8px rgba(108, 162, 255, 0.7);
  -webkit-box-shadow: 0px 1px 0px 8px rgba(108, 162, 255, 0.7);
  -moz-box-shadow: 0px 1px 0px 8px rgba(108, 162, 255, 0.7);
}
.p{
  color: white;
  display: flex;
  gap: 10px;
}
.p1:hover{
  color: gray;
}
.top{
  display: flex;
  gap: 100px;
}
.p3{
  color: gray;
  width: 50%;
  font-size: 10px;
}
.p2{
  color: gray;
  transition: 300ms;
  font-size: 12px;
}
.p2:hover{
  color: white;
  padding-left: 10px;
  transition: 300ms;
}
.zuun{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.bulan{
  display: flex;
  gap: 50px;
}
.gol{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 75px;
}
.p4{
  color: gray;
  font-size: 12px;
  line-height: 20px;
}
.link{
  color: white;
  transition: 300ms;
  font-size: 12px;
  text-decoration: none;
  padding-top: 15px;
}
.link:hover{
  padding-left: 10px;
  transition: 300ms;
  
}
.baruun{
  display: flex;
  flex-direction: column;
}
.bottom{
  display: flex;
  gap: 200px;
}
.facebook{
  color: gray;
  width: 50px;
  height: 50px;
}
.facebook:hover{
  color: #3f729b;
}
#twitter{
  color: gray;
  width: 50px;
  height: 50px;
}
#twitter:hover{
  color:#1da2f2;
}
#ig{
  color: gray;
  width: 50px;
  height: 50px;
}
#ig:hover{
  color: rgb(214, 6, 214) ;
}
#in{
  color: gray;
  width: 50px;
  height: 50px;
}
#in:hover{
  color: #0077b5 ;
}
#yt{
  color: gray;
  width: 50px;
  height: 50px;
}
#yt:hover{
  color: red ;
}
#sc{
  color: gray;
  width: 50px;
  height: 50px;
}
#sc:hover{
  color: #f50 ;
}
.pic1{
  width: 130px
}
.pic2{
  width: 130px;
  margin-left: 20px
}
@media only screen and (max-width: 1024px) {
  .top{
    gap: 20px;
  }
  .btn{
    width: 250px;
  }
  .pic1{
    width: 100px;
  }
  .pic2{
    width: 100px;
  }
}