.header-container {
    display: flex;
    width: 100%;
    height: 10%;
}
.left-side-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: white;
}
.right-side-header {
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.logo-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}
.logo-search h1 {
    margin: 0;
}
.logo {
    width: 15%;
}
.search {
    padding-left: 5%;
    outline: none;
}
.right-side-header p {
    opacity: 50%;
}
.nom61n-tuhai {
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-side-header button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: none;
    background-color: rgb(203, 202, 202);
    box-shadow: 4px 4px 50px -4px white;
    color: white;
    opacity: 75%;
    padding: 10px;
    padding-left: 20px;
}
.dot {
    color: #30D5C8;
    font-size: 20px;
}