.container {
  height: 100vh;
  width: 100vw;
}

.innerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpContainer {
  display: flex;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 15px -10px;
  height: 80%;
  width: 60%;
  overflow: hidden;
}
.leftSideBackground {
  width: 45%;
  background-image: url("../Assets/side.png");
  background-size: cover;
}
.emailPassEtc {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.email-pass-etc h2 {
  margin: 0;
  color: #30d5c8;
}
.emailPassEtc input {
  width: 57%;
  height: 5%;
  border-radius: 100px;
  box-shadow: 0px 0px 15px -8px;
  border: none;
  outline: none;
  padding-left: 3%;
}
.signupButton {
  width: 60%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -8px;
  color: white;
  background-color: #30d5c8;
  font-size: 20px;
}
.emailPassEtc a {
  color: #30d5c8;
}
