.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  height: 300vh;
}
.innerContainer {
  margin-top: 150px;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.category {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.img {
  width: 100%;
}

.socialSection {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profilePic {
  width: 36px;
  height: 36px;
  border-radius: 30px;
}

.author {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 600;
}

.leftSide {
  display: flex;
  justify-content: space-between;
  width: 490px;
}

.reviewSection {
  display: flex;
  flex-direction: column;
}

.reviews {
  display: flex;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
}

.review {
  display: flex;
  gap: 5px;
  width: 100%;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.mainNewsSection {
  margin: 50px 0 100px 0;
  display: flex;
  width: 90%;
}

.mainNews {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin: 0 0 50px 200px;
  font-weight: 600;
}

.texts {
  display: flex;
  width: 80%;
}

.commentSection {
  display: flex;
  padding: 25px 0 50px 0;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 20px 0 20px;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 10px;
  width: 400px;
}

input,
textarea {
  border: none;
  outline: none;
  font-size: 0.8rem;
  padding: 10px;
  height: 3vh;
}

input {
  border-bottom: 1px solid #ddd;
}

textarea {
  height: 10vh;
}

@media only screen and (max-width: 900px) {
  .profile {
    display: none;
  }
  .author {
    display: none;
  }
  .socials {
    display: none;
  }
  .mainNewsSection {
    width: 100%;
  }
  .mainNews {
    margin: 0 0 50px 0;
  }

  .texts {
    width: 100%;
  }
}
