.card:hover .background {
  transition-duration: 0.5s;
  transform: translateY(-10px);
  box-shadow: 0px 0px 22px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 22px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 22px 9px rgba(0, 0, 0, 0.5);
}
.card {
  transition: box-shadow;
}
.background {
  transition-duration: 450ms;
}
